{
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 80,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"endOfLine": "lf"
}
